################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChatApp/CopilotIndices/17.13.444.19527
/.vs/ChatApp/FileContentIndex
/.vs/ChatApp/v17
